.farmShow_content{
    width: 100%;
}
.content_head,.content_head>img{
    width: 100%;
    height: 500px;
}

.content_nav{
    height: 80px;
    border-bottom: 1px solid #e8e8e8;
}
.content_nav_tab_list{
    margin-right: 59px;
    font-size: 16px;
    height: 80px;
    line-height: 80px;
    color: #333333;
    cursor: pointer;
}
.content_nav_tab_list_active{
    color: #457A05;
    position: relative;
}
.content_nav_tab_list_active::after{
    content: "";
    width: 32px;
    height: 3px;
    background: #4F7C08;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -16px;
}

.content_nav_crumbs{
    font-size: 12px;
    color: #666666;
}


.content_box_list_con{
    width: 100%;
    padding: 15px 0 90px 0;
}
.content_box_list_con_term{
    width: 383px;
    height: 397px;
    box-shadow: 0px 2px 4px 3px rgba(239,243,253,0.50); 
    margin: 44px 23px 0 0;
}
.content_box_list_con_term:nth-child(3n+3){
    margin-right: 0;
}
.content_box_list_con_term>img{
    width: 383px;
    height: 245px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.content_box_list_con_term>h3{
    font-size: 16px;
    color: #333333;
    margin-top: 25px;
    padding: 0 18px;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.content_box_list_con_term>p{
    width: 343px;
    margin-left: 18px;
    font-size: 14px;
    line-height: 22px;
    margin-top: 23px;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.content_box_list_fenye{
    width: 100%;
    padding-bottom: 90px;
}