.header{
	width: 1600px;
	height: 84px;
	background: rgba(0, 0, 0, 0);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
}
.header_big{
	position: absolute;
	top: 50%;
	margin-top: -35px;
	left: 21px;
}
.header_log{
	width: 62px;
	height: 70px;
	margin-left: 21px;
	position: absolute;
	top: 50%;
	margin-top: -35px;
	left: 21px;
}
.header_log>a{
	text-decoration: none;
	display: block;
	width: 62px;
	height: 70px;
}
.header_log>a>img{
	width: 62px;
	height: 70px;
}

.header_text{
	font-size: 17px;
	white-space: nowrap;
	color: #ffffff;
	line-height: 26px;
	margin-left: 138px;
}

.header_list{
	width: 1300px;
	justify-content: space-around;
	margin-left: 65px;
	padding-right: 60px;
	box-sizing: border-box;
}
.header_list>li{
	font-size: 16px;
}
.header_list>li>a{
	text-decoration: none;
	color: #fff;
	font-size: 16px;
}
.header_list>li>a>i{
	font-size: 26px;
	color: #333;
}
.header_list>li:last-of-type{
	/* margin-left: 58px; */
}
.iconsousuo{
	font-size: 16px;
	color: #fff;
}